# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Environment
venv/
.env
.env.*

# Django
*.log
db.sqlite3
media/
staticfiles/
*.pot
*.pyc
*.mo

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.sqlite3

# Coverage
htmlcov/
.coverage
*.cover
*.py,cover
