# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
.env
.env.*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Node / frontend leftovers
node_modules/
dist/
build/
*.js
*.jsx
*.css
*.ts
*.tsx
package.json
package-lock.json
tailwind.config.js
vite.config.*
public/
src/

# System files
.DS_Store
Thumbs.db
